<!-- your html code here -->
<div class="container"><div class="row">
    <div class="col-12">
        <h1>Portfolio</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta aliquam excepturi beatae odio? Incidunt quam
            minima aperiam et, quibusdam esse totam dolore! Esse eveniet nisi tempore cupiditate qui obcaecati deserunt?
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-sm-6 my-3">
        <div class="card" style="width: 18rem;">
            <img src="/website1/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-primary fw-bold">Project Name</h5>  
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 my-3">
        <div class="card" style="width: 18rem;">
            <img src="/website1/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-primary fw-bold">Project name</h5>  
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 my-3">
        <div class="card" style="width: 18rem;">
            <img src="/website1/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-primary fw-bold">Project Name</h5>  
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div></div>