<div class="row pt-4">
    <div class="col-md-3 col-6 offset-3 offset-md-0 mb-4 mb-md-0 imagen">
        <img src="/website1/assets/img/2.jpg" alt="">
    </div>
    <div class="col-md-9 text-center text-md-left">
        <h2>This Second Heading <span class="text-secondary"><br class="d-md-none">Is Pretty Cool Too.</span></h2> Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Perferendis quae aut quo molestias dolorem, voluptatum veniam libero ab dolor
        aliquid, cupiditate aliquam ipsa dolores numquam possimus. Magnam numquam dolorum odit.
    </div>
</div>

