<div class="row">
    <div class="col-3  imagen d-flex justify-content-start align-items-center"><img src="/website1/assets/img/2.jpg">
    </div>
    <div class="col-9">
        <h2>This Second Heading <span class="text-secondary">Is Pretty Cool Too.</span></h2> Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Perferendis quae aut quo molestias dolorem, voluptatum veniam libero ab dolor
        aliquid, cupiditate aliquam ipsa dolores numquam possimus. Magnam numquam dolorum odit.
    </div>
</div>